<h4>Agrega Personajes</h4>
<form class="row">
  <!-- *Al usar [(ngModel)] & me de este error ERROR Error: NG01352 debo usar el atributo NAME-->
  <input type="text" [(ngModel)]="personaje.name" name="name" class="form-control mb-2" placeholder="Nombre">
  <input type="number" [(ngModel)]="personaje.power" name="power" class="form-control mb-2" placeholder="Poder">
  <button type="submit" class="btn btn-primary" (click)="emitCharacter()">Agregar</button>

  <pre>{{personaje | json}}</pre>
</form>
